{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }}{% endblock %}

{% block body %}
<section class="container container-lg">
    <div>
        <ul>
        {% for episode in episodes %}
            <li>{{ episode.number }} - {{ episode.title }}</br>{{ episode.synopsis }}
            <a href="{{ path("program_episode_show", {"program": program.id, "season": season.id, "episode": episode.id })}}">{{ episode.number }}<a/>
            </li>
        {% endfor %}
        </ul>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des saisons
    </a>
</section>
{% endblock %}