{% extends 'base.html.twig' %}

{% block title %}Série #{{ programs.id }}{% endblock %}

{% block body %}
<section class="container container-lg">
    <div class="media">
        <img class="align-self-start mr-3" src="{{programs.poster}}" alt="{{ programs.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ programs.title }}</h1>
            <p>{{ programs.synopsis }}</p>
            <p>Catégorie : {{ programs.category.name }}</p>
        </div>
    </div>
    <div>
        <ul>
        {% for season in programs.seasons %}
            <li><a href="{{ path('program_season_show', {program: programs.id, season: season.id}) }}">{{ season.number }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <!-- 18 - Symfony -->
    <strong>Acteurs :</strong>
<ul>
    {% for actor in program.actors %}
        <li>{{ actor.name }}</li>
    {% else %}
        <li>Aucun acteur pour cette série</li>
    {% endfor %}
</ul>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
</section>
{% endblock %}