<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="https://julien-privat.com/wp-content/uploads/2023/11/wildseries-icon.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        {% include './_navbar.html.twig' %}
    </header>
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for program, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ program }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for season, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ season }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for episode, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ episode }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
